/* Footer Part */
.wmelons.footer-area {
    .footer-area-top {
        .link-list {
            min-width: 230px;
            .footer-widget-title {
                font-weight: 600;
                font-size: 20px;
                color: var(--color-1);
                margin-bottom: 30px;
            }
            ul {
                display: flex;
                flex-direction: column;
                gap: 20px;
                li a {
                    color: var(--color-2);
                }
            }
        }
    }
    .footer-area-bottom {
        color: #1A202C99;
        padding: 34px 0;
        border-top: 1px solid #0000001A;
        .footer-area-bottom-wraper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 30px;
        }
        ul {
            display: flex;
            gap: 40px;
            li:not(:last-child) a{
                padding-right: 40px;
                border-right: 1px solid #1A202C99;
            }
        }
    }
}