/*--------------------------------------------------------------
    Google Fonts
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
:root {
  --plus-jakarta: "Plus Jakarta Sans", sans-serif;
  /*color*/
  --color-1:#0D121F;
  --color-2:#0D121F99;
  --color-3:#27CB6B;
  --color-4:#FFFFFF;
  --color-5:#F8F8F8;
  --color-6:#E2E2E2;
  --color-7:#EE4356;
  --color-8:#C4C4C4;
  --color-9:#9CD323;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  -webkit-font-smoothing: antialiased;
  /* WebKit  */
}

body {
  color: var(--color-8);
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 24px;
}

.wmelons {
  color: var(--color-2);
}
.wmelons h1, .wmelons h2, .wmelons h3, .wmelons h4, .wmelons h5, .wmelons h6 {
  margin-bottom: 0;
  font-weight: 700;
  color: var(--color-1);
  font-family: var(--plus-jakarta);
}
.wmelons ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
.wmelons a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.wmelons p {
  margin-bottom: 0;
}
.wmelons div, .wmelons span, .wmelons ul, .wmelons a {
  font-family: var(--plus-jakarta);
}

.sec-p-top {
  padding-top: 150px;
}

.sec-p-bot {
  padding-bottom: 150px;
}

.sec-ph-top {
  padding-top: 70px;
}

.sec-ph-bot {
  padding-bottom: 70px;
}

.black-bg {
  background: var(--color-1);
}

.heading-top-text {
  color: var(--color-7);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0;
  margin-bottom: 14px;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.devider {
  height: 1px;
  width: 100%;
  background: #90A3BF;
}

.wmelons .slick-slide {
  margin: 0 10px;
}
.wmelons .arrow-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
.wmelons .slick-arrow {
  color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.wmelons .slick-arrow.next-icon {
  background: var(--color-7);
}
.wmelons .slick-arrow:hover {
  background: var(--color-7);
}

/*Header Part*/
/*Navigation*/
.wmelons-navbar {
  padding: 24px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
}
.wmelons-navbar .responsive-mobile-menu .navbar-toggler {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0;
  height: 30px;
  width: 30px;
  font-size: 16px;
  color: var(--color-3);
  border: 1px solid var(--color-3);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wmelons-navbar .responsive-mobile-menu .click-nav-right-icon {
  height: 30px;
  width: 30px;
  font-size: 16px;
  color: var(--color-3);
  border: 1px solid var(--color-3);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wmelons-navbar .responsive-mobile-menu .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.wmelons-navbar .navbar-nav li {
  padding: 10px 20px;
  position: relative;
}
.wmelons-navbar .navbar-nav li a {
  color: var(--color-1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.wmelons-navbar .navbar-nav li:hover a {
  color: var(--color-3);
}
.wmelons-navbar .navbar-nav li.menu-item-has-children {
  position: relative;
}
.wmelons-navbar .navbar-nav li.menu-item-has-children:hover .sub-menu {
  visibility: visible;
  opacity: 1;
}
.wmelons-navbar .navbar-nav li.menu-item-has-children:hover .sub-menu li a {
  color: var(--color-1);
}
.wmelons-navbar .navbar-nav li.menu-item-has-children:hover::after {
  color: var(--color-3);
}
.wmelons-navbar .navbar-nav li.menu-item-has-children .sub-menu {
  position: absolute;
  top: 100%;
  background: #fff;
  border: 1px solid var(--color-6);
  border-radius: 8px;
  z-index: 22;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.wmelons-navbar .navbar-nav li.menu-item-has-children .sub-menu li a {
  font-weight: 500;
  color: var(--color-1);
}
.wmelons-navbar .navbar-nav li.menu-item-has-children .sub-menu li:hover a {
  color: var(--color-3);
}
.wmelons-navbar .navbar-nav li.menu-item-has-children::after {
  content: "\f107";
  font: var(--fa-font-solid);
  font-weight: 900;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}
.wmelons-navbar .navbar-nav li.current-menu-item {
  font-weight: 700;
}

.wmelons .main-heading {
  font-size: 60px;
  line-height: 1.2;
}
.wmelons .second-head {
  font-size: 40px;
  line-height: 1.2;
}
.wmelons .second-head:has(+ p) {
  margin-bottom: 14px;
}
.wmelons .second-head:has(+ p) {
  margin-bottom: 14px;
}

.wmelons .cmn-btn {
  padding: 16px 42px;
  border-radius: 50px;
  border: 1px solid transparent;
  text-align: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.wmelons .fill-btn {
  border-color: var(--color-3);
  background: var(--color-3);
  color: var(--color-4);
}
.wmelons .fill-btn:hover {
  background: transparent;
  color: var(--color-3);
}
.wmelons .transparent-green-btn {
  color: var(--color-3);
  border-color: var(--color-3);
}
.wmelons .transparent-green-btn:hover {
  color: var(--color-4);
  background: var(--color-3);
}

.wmelons.banner .banner-text-part {
  max-width: 678px;
}
.wmelons.banner .pera {
  font-size: 18px;
  margin: 30px 0;
}
.wmelons.banner .banner-image img {
  height: 100%;
  width: 100%;
}

.wmelons .single-features {
  border: 1px solid var(--color-6);
  border-radius: 28px;
  padding: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.wmelons .single-features .text {
  margin: 26px 0;
}
.wmelons .single-features .text .feature-head {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
}
.wmelons .single-features .btn-wraper {
  position: relative;
  font-weight: 500;
  color: var(--color-1);
  font-size: 18px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.wmelons .single-features .btn-wraper span {
  position: absolute;
  left: 70px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.wmelons .single-features:hover {
  background: var(--color-5);
  border-color: transparent;
}
.wmelons .single-features:hover .btn-wraper {
  font-weight: 500;
  color: var(--color-7);
}
.wmelons .single-features:hover .btn-wraper span {
  position: absolute;
  left: 90%;
}

.wmelons.easy-steps .img-part img {
  width: 100%;
  border-radius: 12px;
}
.wmelons.easy-steps .easy-steps-wraper {
  max-width: 490px;
}
.wmelons.easy-steps .easy-steps-wraper .second-head {
  margin-bottom: 24px;
  color: var(--color-4);
}
.wmelons.easy-steps .easy-steps-wraper .pera {
  color: var(--color-8);
  margin-bottom: 32px;
  font-size: 18px;
}
.wmelons.easy-steps .easy-steps-wraper .easy-steps {
  background-color: #1A202C;
  border-radius: 12px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  position: relative;
}
.wmelons.easy-steps .easy-steps-wraper .easy-steps li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  color: #fff;
  font-size: 18px;
  position: relative;
  z-index: 4;
}
.wmelons.easy-steps .easy-steps-wraper .easy-steps li .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--color-7);
  border-radius: 50%;
  height: 48px;
  width: 48px;
}
.wmelons.easy-steps .easy-steps-wraper .easy-steps li:last-child .number {
  background: #fff;
  color: var(--color-1);
}
.wmelons.easy-steps .easy-steps-wraper .easy-steps .line {
  position: absolute;
  left: 53px;
  top: 50%;
  -webkit-transform: translateY(-46%);
          transform: translateY(-46%);
}

.wmelons.why-use .head-with-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 900px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wmelons.why-use .head-with-text .pera {
  max-width: 496px;
}
.wmelons.why-use .single-why-use-card .img img {
  width: 100%;
  border-radius: 12px;
}
.wmelons.why-use .single-why-use-card .text {
  margin-top: 24px;
}
.wmelons.why-use .single-why-use-card .text .card-head {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 12px;
}
.wmelons.pricing-plans .price-plans-wraper .price-plan-buttons {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 45px auto 65px auto;
  border: 1px solid var(--color-6);
  border-radius: 16px;
}
.wmelons.pricing-plans .price-plans-wraper .plan-btn {
  padding: 20px 48px;
  border-radius: 16px;
  color: var(--color-1);
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.wmelons.pricing-plans .price-plans-wraper .plan-btn.active {
  background: var(--color-3);
  color: var(--color-4);
}
.wmelons.pricing-plans .price-plans-wraper .single-price-plan {
  background: var(--color-5);
  border-radius: 12px;
  padding: 30px;
}
.wmelons.pricing-plans .price-plans-wraper .single-price-plan .plan-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wmelons.pricing-plans .price-plans-wraper .single-price-plan .plan-head .plan-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.3;
}
.wmelons.pricing-plans .price-plans-wraper .single-price-plan .plan-head .badge {
  font-weight: 500;
  color: var(--color-1);
  font-size: 16px;
  padding: 10px 16px;
  border-radius: 30px;
  background: rgba(39, 203, 107, 0.1490196078);
}
.wmelons.pricing-plans .price-plans-wraper .single-price-plan .massage {
  margin: 10px 0 24px 0;
}
.wmelons.pricing-plans .price-plans-wraper .single-price-plan .price {
  color: rgba(13, 18, 31, 0.6);
}
.wmelons.pricing-plans .price-plans-wraper .single-price-plan .price span {
  font-size: 40px;
  color: var(--color-1);
  font-weight: 600;
}
.wmelons.pricing-plans .price-plans-wraper .single-price-plan .plan-body {
  margin: 24px 0 36px 0;
  color: var(--color-1);
}
.wmelons.pricing-plans .price-plans-wraper .single-price-plan .plan-body .plan-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}
.wmelons.pricing-plans .price-plans-wraper .single-price-plan .plan-body .plan-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  font-weight: 500;
  color: var(--color-1);
}
.wmelons.pricing-plans .price-plans-wraper .single-price-plan .plan-body .plan-list li::before {
  content: "\f00c";
  font: var(--fa-font-solid);
  font-weight: 900;
  font-size: 14px;
  background: var(--color-9);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #fff;
}
.wmelons.pricing-plans .price-plans-wraper .single-price-plan .plan-body .view-all-features a {
  color: var(--color-3);
  text-decoration: underline;
  margin-top: 24px;
}
.wmelons.pricing-plans .price-plans-wraper .single-price-plan .plan-foot-btn-wraper .cmn-btn {
  padding: 16px;
}

.wmelons.customer-feedback .customer-feedback-head {
  max-width: 568px;
}
.wmelons.customer-feedback .customer-feedback-head .second-head {
  color: var(--color-4);
}
.wmelons.customer-feedback .customer-feedback-head .pera {
  color: var(--color-8);
}
.wmelons.customer-feedback .feedback-wraper .single-feedback {
  padding: 30px;
  border-radius: 12px;
  background: #1A202C;
}
.wmelons.customer-feedback .feedback-wraper .single-feedback .title {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-4);
  margin-bottom: 16px;
}
.wmelons.customer-feedback .feedback-wraper .single-feedback .pera {
  color: #F3F5F7;
  font-weight: 500;
}
.wmelons.customer-feedback .feedback-wraper .single-feedback .devider {
  margin: 30px 0;
}
.wmelons.customer-feedback .feedback-wraper .single-feedback .auther {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.wmelons.customer-feedback .feedback-wraper .single-feedback .auther .img img {
  height: 70px;
  width: 70px;
  border-radius: 12px;
}
.wmelons.customer-feedback .feedback-wraper .single-feedback .auther .text .name {
  color: var(--color-4);
  font-size: 18px;
}
.wmelons.customer-feedback .feedback-wraper .single-feedback .auther .text .post {
  color: #C3D4E9;
}

.wmelons.recent-blog .single-blog .blog-head img {
  border-radius: 28px 28px 0 0;
  width: 100%;
}
.wmelons.recent-blog .single-blog .bolg-body {
  border-radius: 0 0 28px 28px;
  padding: 24px;
  border: 1px solid var(--color-6);
}
.wmelons.recent-blog .single-blog .bolg-body .date {
  color: var(--color-3);
  font-size: 14px;
  font-weight: 500;
}
.wmelons.recent-blog .single-blog .bolg-body .blog-title {
  font-weight: 500;
  font-size: 20px;
  margin: 16px 0 34px 0;
}
.wmelons.recent-blog .single-blog .bolg-body .blog-foot .blog-btn {
  color: var(--color-1);
  font-size: 18px;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.wmelons.recent-blog .single-blog .bolg-body .blog-foot .blog-btn:hover {
  color: var(--color-3);
}

.wmelons.faq .single-faq-item .faq-header-wraper {
  padding: 32px 0 32px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid var(--color-6);
  cursor: pointer;
}
.wmelons.faq .single-faq-item .faq-header-wraper h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #000000;
}
.wmelons.faq .single-faq-item .faq-header-wraper .icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 20px;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: var(--color-4);
  background: var(--color-3);
  border-radius: 50%;
  position: relative;
}
.wmelons.faq .single-faq-item .faq-header-wraper .icon::after {
  content: "+";
  font: var(--fa-font-solid);
  position: absolute;
}
.wmelons.faq .single-faq-item .faq-header-wraper.open .icon::after {
  content: "\f068";
}
.wmelons.faq .single-faq-item .faq-body-wraper {
  padding: 20px 10px;
}
.wmelons.faq .single-faq-item:first-child {
  border-top: 1px solid var(--color-6);
}

.wmelons.get-updates .get-update-wraper {
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  border-radius: 32px;
  padding: 100px;
}
.wmelons.get-updates .get-update-wraper .get-update-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wmelons.get-updates .get-update-wraper .get-update-inner .get-update-title {
  max-width: 274px;
  font-weight: 600;
  font-size: 38px;
  line-height: 1.3;
  color: var(--color-4);
  text-transform: capitalize;
}
.wmelons.get-updates .get-update-wraper .get-update-inner .text-part {
  max-width: 510px;
  color: var(--color-4);
}
.wmelons.get-updates .get-update-wraper .get-update-inner .text-part .news-latter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 16px;
}
.wmelons.get-updates .get-update-wraper .get-update-inner .text-part .news-latter input {
  border: none;
  border-radius: 32px;
  padding: 20px 27px;
  color: #AAAAAA;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.wmelons.get-updates .get-update-wraper .get-update-inner .text-part .news-latter .subscribe-btn {
  color: var(--color-4);
  background: #D72D40;
  padding: 20px 27px;
}

.wmelons.about-banner .about-banner-text-part {
  max-width: 870px;
  margin-left: auto;
  margin-right: auto;
}
.wmelons.about-banner .about-banner-text-part .pera {
  margin: 40px 0 80px 0;
}
.wmelons.about-banner .about-banner-img img {
  width: 100%;
  border-radius: 28px;
}

.wmelons.commitments .title {
  font-size: 64px;
  font-weight: 800;
  color: #0B0B0B;
}

.wmelons.blog-details .blog-details-head-wraper {
  max-width: 870px;
  margin-left: auto;
  margin-right: auto;
}
.wmelons.blog-details .blog-details-wraper .blog-head-img {
  position: relative;
  margin-bottom: 58px;
}
.wmelons.blog-details .blog-details-wraper .blog-head-img .writer-date {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 16px;
  bottom: -8px;
  left: 40px;
  color: var(--color-1);
  font-weight: 500;
}
.wmelons.blog-details .blog-details-wraper .blog-head-img .writer-date .svg {
  margin-right: 8px;
}
.wmelons.blog-details .blog-details-wraper .blog-details-body p:has(+ p) {
  margin-bottom: 80px;
}
.wmelons.blog-details .blog-details-wraper .blog-details-body p:has(+ .blog-inner-image-wraper) {
  margin-bottom: 50px;
}
.wmelons.blog-details .blog-details-wraper .blog-details-body .blog-inner-image-wraper {
  margin-bottom: 50px;
}
.wmelons.blog-details .blog-details-wraper .blog-details-body .blog-inner-image-wraper img {
  width: 100%;
  border-radius: 28px;
}
.wmelons.blog-details .blog-details-wraper .blog-details-body .blog-details-sub-heading {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -1px;
}
.wmelons.blog-details .blog-details-wraper .blog-details-body .blog-details-sub-heading:has(+ p) {
  margin-bottom: 30px;
}
.wmelons.blog-details .blog-details-wraper .share-tag {
  margin-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 200px;
}
.wmelons.blog-details .blog-details-wraper .share-tag .title {
  font-size: 24px;
  letter-spacing: -1px;
  margin-bottom: 27px;
}
.wmelons.blog-details .blog-details-wraper .share-tag .share a {
  height: 56px;
  width: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid #E0E0E0;
  background: #fff;
  color: var(--color-7);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.wmelons.blog-details .blog-details-wraper .share-tag .share a:hover {
  border-color: var(--color-7);
  background: var(--color-7);
  color: var(--color-4);
}
.wmelons.blog-details .blog-details-wraper .share-tag .tags a {
  font-weight: 500;
  padding: 14px 42px;
  color: var(--color-2);
  background: #F6F6F6;
  border-radius: 37px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.wmelons.blog-details .blog-details-wraper .share-tag .tags a:hover {
  background: var(--color-2);
  color: var(--color-4);
}

.wmelons.login-reg {
  padding: 74px 0;
}
.wmelons.login-reg .login-reg-wraper {
  max-width: 458px;
  margin: auto;
}
.wmelons.login-reg .img {
  max-width: 800px;
  max-height: 968px;
}
.wmelons.login-reg .img img {
  width: 100%;
  height: 100%;
}
.wmelons.login-reg .account-title {
  font-size: 30px;
  color: #141414;
}
.wmelons.login-reg .account-title:has(+ p) {
  margin-bottom: 10px;
}
.wmelons.login-reg p {
  color: #141414;
  margin-bottom: 30px;
}

.wmelons.login-reg {
  color: #141414;
  font-weight: 500;
}
.wmelons.login-reg .custom-label {
  color: #141414;
  font-weight: 600;
}
.wmelons.login-reg .custom-label:has(+ .custom-input), .wmelons.login-reg .custom-label:has(+ .input-with-icon) {
  margin-bottom: 10px;
}
.wmelons.login-reg .input-with-icon {
  position: relative;
}
.wmelons.login-reg .input-with-icon .icon {
  position: absolute;
  bottom: 18px;
  right: 14px;
}
.wmelons.login-reg .custom-input {
  padding: 16px 22px;
  color: #141414;
  border: none;
  border-radius: 18px;
  background: rgba(242, 242, 242, 0.4);
}
.wmelons.login-reg .custom-input::-webkit-input-placeholder {
  color: #141414;
}
.wmelons.login-reg .custom-input::-moz-placeholder {
  color: #141414;
}
.wmelons.login-reg .custom-input:-ms-input-placeholder {
  color: #141414;
}
.wmelons.login-reg .custom-input::-ms-input-placeholder {
  color: #141414;
}
.wmelons.login-reg .custom-input::placeholder {
  color: #141414;
}
.wmelons.login-reg .custom-checkbox {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border: 1.5px solid #D0D0D0;
  border-radius: 4px;
  vertical-align: text-top;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.wmelons.login-reg .custom-checkbox::after {
  content: "\f00c";
  font: var(--fa-font-regular);
  font-weight: 900;
  position: absolute;
  inset: 0;
  font-size: 14px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wmelons.login-reg .custom-checkbox:checked::after {
  background: var(--color-3);
}
.wmelons.login-reg .svae-forget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.wmelons.login-reg .login-btn-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.wmelons.login-reg .login-btn-wraper .login-signup-btn {
  text-align: center;
  padding: 20px;
  border-radius: 18px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.wmelons.login-reg .login-btn-wraper .login-signup-btn .icon {
  display: inline-block;
  margin-left: 8px;
}
.wmelons.login-reg .login-btn-wraper .login-signup-btn.black-btn {
  background: #141414;
}
.wmelons.login-reg .login-btn-wraper .login-signup-btn.white-btn {
  background: rgba(242, 242, 242, 0.5019607843);
  color: #141414;
}
.wmelons.login-reg .login-btn-wraper .login-signup-btn.blue1-btn {
  background: #365899;
}
.wmelons.login-reg .login-btn-wraper .login-signup-btn.blue2-btn {
  background: #006699;
}
.wmelons.login-reg .login-btn-wraper .login-signup-btn:hover {
  opacity: 0.8;
}
.wmelons.login-reg .dont-have-acc {
  text-align: center;
  font-weight: 400;
}
.wmelons.login-reg .dont-have-acc a {
  font-weight: 500;
}

.wmelons.order-price-plan .login-massage {
  padding: 24px;
  background: rgba(39, 203, 107, 0.0705882353);
  border-radius: 16px;
  text-align: center;
}
.wmelons.order-price-plan .wmelons.pricing-plans.style-two {
  max-width: 405px;
}
.wmelons.order-price-plan .wmelons.pricing-plans.style-two .single-plan-sub-head {
  font-size: 24px;
  line-height: 1.3;
}

/* Footer Part */
.wmelons.footer-area .footer-area-top .link-list {
  min-width: 230px;
}
.wmelons.footer-area .footer-area-top .link-list .footer-widget-title {
  font-weight: 600;
  font-size: 20px;
  color: var(--color-1);
  margin-bottom: 30px;
}
.wmelons.footer-area .footer-area-top .link-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.wmelons.footer-area .footer-area-top .link-list ul li a {
  color: var(--color-2);
}
.wmelons.footer-area .footer-area-bottom {
  color: rgba(26, 32, 44, 0.6);
  padding: 34px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1019607843);
}
.wmelons.footer-area .footer-area-bottom .footer-area-bottom-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.wmelons.footer-area .footer-area-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.wmelons.footer-area .footer-area-bottom ul li:not(:last-child) a {
  padding-right: 40px;
  border-right: 1px solid rgba(26, 32, 44, 0.6);
}