.wmelons.order-price-plan {
    .login-massage {
        padding: 24px;
        background: #27CB6B12;
        border-radius: 16px;
        text-align: center;
    }
    .wmelons.pricing-plans.style-two {
        max-width: 405px;
        .single-plan-sub-head {
            font-size: 24px;
            line-height: 1.3;
        }
    }
}